@charset "utf-8";
/* CSS Document */


/******
		**variable
						*****/

*{--white: #c6c6c6; --grey:#6c6c6c; --orange:#fcac45}
*{box-sizing:border-box}
.clear{clear:both;}

/******
		**dimensions

						*****/

.container{
	height:790px;
	margin: 0 10%;
	text-align:center;
	position:relative;
}



body, h3, h4, p{
margin:0;pading:0	
	
}
a { text-decoration:none; color:inherit}

li { list-style-type:none; } 
header{
background-color:#333b45;
}