@charset "utf-8";
/* CSS Document */


.header {
color: var(--white);
padding-top:45px


	
}
.header_tab, .header_tab li{
	color: var(--white);
	display:inline-block; 	
	font-size:17px;
	font-weight:600;
}
.header_tab{float:right;}



.header_title{
color: var(--grey);	
font-family: "Open Sans";
font-size:44px;
	
}
.header_title span{
color: var(--orange);
font-weight:600;	
	
}
.header_title p{
color:var(--white);
font-weight:300;
font-size:20px;
	
}
.header_title h1{ font-weight: 300; }

.header_name, .header-tab{
font-family: "Lato";	
	
}
.header_name{font-size:24px;float:left;}

.header_li{
	padding:0 15px 21px 15px;	
	position:relative;
	}


/* la transition pour le menu */

.header_li:after, .header_li:before{
	
	content:'';
	width:40%; height:3px;
	display:none;
	
}

.header_li:after{


background-color: var(--orange);

position:absolute; bottom: 0; left: 47% ;

}

.header_li:before{


background-color: #212121;

position:absolute; bottom: 0; left: 10% ;

}

.header_li:hover:after, .header_li:hover:before{
	display: block;

}


.header_btn{
width: 50px; height:50px;
border-radius:50px;
border: 2px solid var(--white);	
margin-bottom:0;
position:absolute; bottom:90px; left:50%; 
margin-left:-25px;
	
}
.header_btn img{
	margin-top:18px;	
	
}
