.section2{
	background-color:black;	
	height:730px;
}

.section2_Personnes{ color:white; }

.section2_personne{
	
float:left;
width:25%;
height:290px;

}


.section2_personne img{
border-radius: 145px;	
	
}
.section2_personne_title{
	font-weight:bold;
	font-size:20px;
	margin-top:10px;	
}
.section2_personne_text{
	font-size:14px;
	font-weight:300;
	padding:0 15px;	
	letter-spacing:0.8px;
	
}