



.section5_flex_up{
display:flex;
justify-content:space-between;
align-content:space-around;	
padding:0 0 75px 0;	
}


.section5_flex_mid{
display:flex;
justify-content:space-between;	
padding:0 0 75px 0;	
}


.section5_flex_low{
display:flex;
justify-content:space-between;	
padding:0 0 75px 0;	
}

.section_filter{
position:relative;	
font-weight:600;
font-family: "Open Sans";
display:block;
height:60px;
}

.section_filter{
color: var(--grey);	
}


.filter_left{

position:absolute;
left:0;

	
}


.filter_right{
	position:absolute;
	right:0;
	
}

.filter_right li{

display:inline;
margin-right:8px;

}

.filter_right li:hover{
color:black;
margin:5px;
padding:5px

}