.section3{
	height:736px;
	font-family: 'Open Sans';
}
.section3_ipsum{
 	color: var(--grey);
	padding-bottom:100px;
}
.section3_icons_circle{
	height:125px;
	width:125px;
	border-radius:125px;
	border:6px solid var(--orange);
	display:inline-block;
	text-align:center;
	margin-bottom:25px;
}
.section3_icons_circle img{
		margin-top:50%;
		transform: translateY(-50%);
}

.section3_bas{

}
.section3_icons{

width:25%;
float:left;	
}
.section3_text{
color: var(--grey);	
font-size:14px;
font-weight:400;
padding:0 15px;	
}
.section3_text h3{
color:#434343;	
font-size:25px;
font-weight:bold;
text-transform:uppercase;
}

