@charset "utf-8";
/* CSS Document */

.section1 .container{
	margin-top: 100px;	
	
}

.section_left{
	width:50%;
	float:left;	
	
}
.section_right{
	width:50%;	
	float:left;
	text-align:left;
	font-family: 'Open Sans';
	color: var(--grey);
	font-size:18px;
	font-weight:400;
	padding-left:169px;
	
}
.section_about{
	text-transform:uppercase;	
	padding-bottom:20px;
}
.section_right ul li{
list-style-type:circle;
color: var(--grey);
font-weight:300;
}

.section_right ul {
padding-left:24px;
margin:0 0 50px 0;

}
button[type='button']{
	border:1px solid var(--grey);
	text-align:center;
	padding:17px 23px 16px 23px;
	background-color:white;
	color: var(--grey);
	font-family:'Open Sans';
	font-size:12px;	
	border-radius:3px;
	transition: 0.5s;
}

button[type='button']:hover{
	background-color: var(--orange);
}

.section_text{
margin-bottom:49px;
}


.section_right span{
	color: var(--grey);
	font-weight:500;
}

.section_right h4{
		color:black;
		font-size:34px;
		font-weight:400;
		padding-bottom:24px;
		position:relative;
		margin-bottom:31px;
}

.section_right h4:after{
	content: '';
	display:block;
	height:5px;  width: 17%;
	background-color: var(--orange);
	position:absolute; bottom:0; left:0;
}

.section_li{
	font-size:16px;	
	
}