@charset "utf-8";
/* CSS Document */

/* debut header */


a
{
	text-decoration:none;color:black;
}
li
{
	list-style-type:none;
	color:black;
	font-size:25px;
	font-weight:bold;
	list-style-image:url(../images/torso_li.png);
}