@charset "utf-8";
/* CSS Document */

.title{
color: white;
font-size:44px;
text-transform:uppercase;	
padding-top:100px;
font-family:'Open Sans';
position:relative;
padding-bottom:50px;
margin-bottom:95px;

}
.title h3{
	font-weight:300;
	
}


.title:after{
content:'';
display	:block;
width:100px; height:4px;
background-color: var(--orange);
position:absolute;
bottom:14px;left:50%;
transform: translateX(-50%);
	
}
.title:before{
content:'';
display:block;
width:68px;
height:4px;
background-color: var(--orange);	
position:absolute;
bottom:0;left:50%;
transform:translateX(-50%);

}

.title span{
	font-weight:600;	
}

.title_black{
	color: #222222;	
}